<div class="card">
<!-- <div class="card_body back" *ngIf="!showCard"> -->
<div class="card_body back" *ngIf="!showCard || (player.lifeStatus === 'dead')" (click)="toggleCard()">
    <div class="card_back_logo">
      <img src="../../assets/img/game-logo.png" alt="" class="card_back_img">
    </div>
    <div class="card_back_title">WEREWOLF GAME</div>
  </div>

<!-- <div class="card_body front" *ngIf="showCard" (touchstart)="toggleCard()" (touchend)="toggleCard()"> -->
  <div class="card_body front" *ngIf="showCard && (player.lifeStatus === 'alive')" (click)="toggleCard()">
    <div class="card_body_logo">
      <img src={{card.imgUrl}} alt="" class="card_body_logo_img">
    </div>
    <div class="card_body_text">
      <div class="card_body_text_title">{{card.title | uppercase}}</div>
      <div class="card_body_text_description">{{card.description}}</div>
    </div>
  </div>

  <div [ngClass]="getCSSClasses('lifeStatus')">{{player.lifeStatus | uppercase}}</div>
</div>