$primary: rgb(170, 99, 47)
$grey: rgb(52,53,63)
$white: White
$bg-color: #fafafa
  
=flex($direction:null, $justify:null, $align:null, $wrap:null)
  display: flex
  flex-direction: $direction
  justify-content: $justify
  align-items: $align
  flex-wrap: $wrap

.game_page
  +flex($direction:column, $justify:space-between)
  height: 90vh
  padding: 20px 0

.game_page_header
  +flex($align: center)
  width: 85vw

.game_page_header_logo
  width: 50px
  height: 50px
  margin-right: 10px;

.game_page_header_logo_img
  height: 100%

.game_page_header_title
  color: $grey
  font-size: 1em
  font-weight: 500
  width: 110px
  text-align: center

.game_page_body
  +flex($direction:column, $align:center)
  margin-bottom: 80px

.game_page_card
  border: solid black
  width: 150px
  height: 300px
  margin-bottom: 10px
  