<div class="game_page">
  <div class="game_page_header">
    <div class="game_page_header_logo"><img src="../../assets/img/game-logo.png" class="game_page_header_logo_img"></div>
    <div class="game_page_header_title">WEREWOLF GAME</div>
  </div>
  <div class="game_page_body">
    <div class="game_page_message" *ngIf="!gameStarted">WAITING FOR OTHER PLAYERS TO JOIN</div>
    <!-- <div class="join_page_spin" *ngIf="playerJoined"></div> -->
    <app-card [player]="player" *ngIf="gameStarted"></app-card>
  </div>
</div>