$primary: rgb(170, 99, 47)
$grey: rgb(52,53,63)
$white: White
$bg-color: #fafafa
  
=flex($direction:null, $justify:null, $align:null, $wrap:null)
  display: flex
  flex-direction: $direction
  justify-content: $justify
  align-items: $align
  flex-wrap: $wrap

.player_item
  +flex($justify:space-around, $align:center)
  width: 85vw
  margin-bottom: 10px;

.player_item_role
  border: solid 1px
  height: 30px
  width: 30px
  font-size: 0.5em
  margin-right: 10px

.player_item_username

.player_item_lifeStatus
  border: solid 1px