<div class="player_item">
  <div class="player_item_role">
    <img src={{card.imgUrl}} alt="" class="player_item_role_img">
  </div>
  <div class="player_item_username">{{player.username | uppercase}}</div>
  <div *ngIf="player.votes" class="alive" >{{player.votes}}</div>
  <div>
    <div [ngClass]="getCSSClasses()" (click)="onSubmit()" *ngIf="!player.winner && !gameEnded">{{accessoryLabel | uppercase}}</div>
  </div>

  <div class="dead" *ngIf="!player.winner && gameEnded">DEAD</div>
  <div class="winner" *ngIf="player.winner && gameEnded">WINNER</div>
</div>