<div class="admin_page">
  <div class="admin_page_header">
    <div class="admin_page_header_logo">
      <div class="admin_page_logo"><img src="../../assets/img/game-logo.png" class="admin_page_logo_img"></div>
      <div class="admin_page_title">WEREWOLF GAME</div>
    </div>
    <div class="admin_page_gameID">GAME CODE:
      <span class="admin_page_gameID_span">{{gameId}}</span>
    </div>
  </div>
  <div class="admin_page_playersList">

    <ng-container *ngFor="let player of players">
      <app-player-list-item *ngIf="!gameStarted" [player]="player" [gameId]="gameId" [gameEnded]="gameEnded"></app-player-list-item>
    </ng-container>

    <div class="role_title" *ngIf="gameStarted">WEREWOLVES</div>
    <ng-container *ngFor="let player of werewolves">
      <app-player-list-item *ngIf="gameStarted" [player]="player" [gameId]="gameId" [gameEnded]="gameEnded"></app-player-list-item>
    </ng-container>
    <div class="role_title" *ngIf="gameStarted">SPECIAL ROLES</div>
    <ng-container *ngFor="let player of specialRoles">
      <app-player-list-item *ngIf="gameStarted" [player]="player" [gameId]="gameId" [gameEnded]="gameEnded"></app-player-list-item>
    </ng-container>
    <div class="role_title" *ngIf="gameStarted">VILLAGERS</div>
    <ng-container *ngFor="let player of villagers">
      <app-player-list-item *ngIf="gameStarted" [player]="player" [gameId]="gameId" [gameEnded]="gameEnded"></app-player-list-item>
    </ng-container>

  </div>
  <div class="admin_page_start" *ngIf="!gameStarted  && players.length > 4">
    <button class="admin_page_start_button" (click)="startGame()">START</button>
  </div>

  <div class="admin_page_game_buttons" *ngIf="gameStarted">
    <button class="admin_page_game_buttons_day" (click)="startDayRound()"><fa-icon [icon]="faSun"></fa-icon></button>
    <button class="admin_page_game_buttons_night" (click)="startNightRound()"><fa-icon [icon]="faMoon"></fa-icon></button>
  </div>
</div>