<div class="admin_page">
  <div class="admin_page_header">
    <div class="admin_page_logo">LOGO</div>
    <div class="admin_page_title">WEREWOLF</div>
  </div>
  <div class="admin_page_playersList">
    <div class="admin_page_player">Player</div>
    <div class="admin_page_player">Player</div>
    <div class="admin_page_player">Player</div>
    <div class="admin_page_player">Player</div>
    <div class="admin_page_player">Player</div>
    <div class="admin_page_player">Player</div>
  </div>
  <button class="admin_page_button">START</button>
</div>