<div class="join_page">
  <div class="join_page_header">
    <div class="join_page_header_logo"><img src="../../assets/img/game-logo.png" class="join_page_header_logo_img"></div>
    <div class="join_page_header_title">WEREWOLF GAME</div>
  </div>
  <form class="join_page_form" (submit)="onSubmit($event)">
    <input class="join_page_input" id="username" name="username" [(ngModel)]="username" type="text" placeholder="USERNAME" />
    <input class="join_page_input" id="gameCode" name="gameCode" [(ngModel)]="gameCode" type="text" placeholder="GAME CODE" />
    <button class="join_page_button" type="submit">LET'S PLAY!</button>
  </form>
</div>