@import '../app.component';

.join_page
  +flex($direction:column, $align:center)
  
.join_page_logo
  width: 150px
  height: 150px
  margin-top: 20vh
  margin-bottom: 10px

.join_page_logo_img
  height: 100%

.join_page_title
  color: $grey
  font-size: 1.5em
  font-weight: 500
  margin-bottom: 10vh
  width: 150px
  text-align: center

.join_page_form
  +flex($direction:column, $align:center)

.join_page_input
  font-size: 1em
  text-align: center
  margin: 10px 0

.join_page_button
  box-sizing: border-box
  +flex($justify:center, $align:center)
  height: 40px
  width: 150px
  cursor: pointer
  color: $white
  font-weight: 600
  font-size: 1em
  letter-spacing: 0.8px
  background: $primary
  padding: 0px 20px
  margin: 10px 1px 15px 0
  box-shadow: 4px 4px 0px 0px rgba(50,50,50,0.4)
  transition: all ease 0.5s

  &:hover
    box-shadow: 0 0 0px 0px rgba(50,50,50,0.4)
    transition: all ease 0.5s
